/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');


/* Style Default */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

a:active {
  background-color: unset;
}

header, .projects, .social , footer {
  padding: 20px 15px;
}

.projects h2, .social h2 {
  margin-bottom: 15px;
}

/* Fade in tabs */
.tabcontent {
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* Header */
header .header-profile {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 10px;
}

header .header-profile img {
  border-radius: 50%;
  border: 3px solid darkslateblue;
  padding: 5px;
}

header .header-tabs {
  margin-top: 15px;
  display: flex;
  column-gap: 10px;
}

header .header-tabs button {
  flex: 1;
  border-radius: 10px;
  padding: 10px 0;
  border: 0;
  background-color: #adadad;
  font-weight: bold;
}
/* End Of Header */


/* Projects */
.projects ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.projects ul li {
  padding: 10px;
  background-color: #eee;
  border-radius: 14px;
}

.projects ul li a {
  color: darkslateblue;
}

.projects ul li a img {
  border-radius: 7px;
}
/* End Of Projects */


/* Social */
.social ul {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.social ul li {
  border: 4px solid #555555;
  border-radius: 14px;
}

.social ul li a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  column-gap: 10px;
  color: #555555;
}

.social ul li a i {
  font-size: 30px;
}
/* End Of Social */


/* Footer */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

footer h3 {
  margin-bottom: 5px;
}
/* End Of Footer */


/* Responsive breakpoint */
/* Tablet */
@media screen and (min-width: 576px) {
  .container {
    width: 576px;
    margin: auto;
  }
}