* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body, header {
  background-color: #eee;
  transition: .2s;
}

header {
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

button {
  border: 0;
  background-color: unset;
  font-size: 15px;
}

p {
  font-size: 15px;
}

.dark-mode {
  color: #ddd;
  background-color: #151515;
}

.container {
  padding: 0 1rem;
}



/* Navbar */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-action {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 60px;
  right: 1rem;
  background-color: dimgray;
  border-radius: 8px;
  overflow: hidden;
}

nav .nav-action.active {
  display: flex;
}

nav .nav-action button {
  padding: 15px 40px;
  color: whitesmoke;
}

nav .nav-action button.active {
  background-color: #444;
}

nav .nav-toggler {
  display: flex;
  column-gap: 8px;
}

nav .nav-toggler button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: 0;
}

nav .nav-toggler button.btn-theme {
  font-size: 30px;
  transition: .2s;
}

nav .nav-toggler button.btn-theme.active {
  color: whitesmoke;
  transform: rotate(360deg);
}

nav .nav-toggler button.btn-toggler {
  border: 2px solid #666;
  border-radius: 8px;
  padding: 5px;
}

nav .nav-toggler button.dark.btn-toggler {
  border: 2px solid #999;
}

nav .nav-toggler button.btn-toggler:focus {
  outline: 3px solid #444;
}

nav .nav-toggler button.dark.btn-toggler:focus {
  outline: 2px solid #666;
}
/* Akhir Navbar */


/* Profile */
.profile .profile-label {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 5px;
}

.profile .profile-label img {
  border: 3px solid darkcyan;
  border-radius: 50%;
  padding: 5px;
}

.profile .profile-label img.active {
  border: 3px solid rgb(0, 168, 168);
}

.profile .profile-label .profile-label-title h3 {
  color: darkcyan;
  font-size: 22px;
}

.profile .profile-label .profile-label-title h3.active {
  color: rgb(0, 168, 168);
}

.profile p.profile-about {
  margin-top: 10px;
  font-style: italic;
}
/* Akhir Profile */




/* ===== Responsive Breakpoint ===== */
/* Tablet */
@media (min-width: 480px) {
  .container {
    width: 480px;
    margin: auto;
  }

  nav .nav-action {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    position: unset;
    background-color: unset;
  }

  nav .nav-action button.active {
    background-color: unset;
    font-weight: bolder;
  }
  
  nav .nav-action button {
    padding: 0;
    color: inherit;
  }

  nav .nav-toggler button.btn-toggler {
    display: none;
  } 
}
